storage: none
source https://www.nuget.org/api/v2
nuget Couchbase.Lite ~> 2.0
nuget FSharp.Core ~> 4.3
nuget Microsoft.Composition ~> 1.0
nuget Newtonsoft.Json

git https://github.com/CompleteInformation/CI-Core.git develop
